html {
    background: #e3c8a3;
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}
/*//////*/

#bg {
    /*width: 100vw;*/
    /*height: 100vh;*/
    /*display: block;*/
    position: absolute;
}

#bg::after {
    content: "";
    background: no-repeat fixed center url("./img/pngwave.png");
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    position: absolute;
}

blockquote.blockquote.text.center.bg-primary {
    border-radius: 50%;
}

.container {
    /*border: 1px solid black;*/
    margin-left: 19%;
    border-radius: 50%;
}

.mb-0 {
    margin-top: 3%;
    padding: 20px;
    font-size: 4em;
}

.mb-0:nth-child(2){
    font-size: 2em;
}

/*h3 stying is targeting coffees id div*/
h3 {
    padding: 0 14px;
    font-family: 'Anton';
}

#coffeez2 {
    width: 20%;
    height: 20%;
}

.coffee-div {
    display: flex;
    /*flex-direction: row;*/
    border: 1px solid black;
    text-align: center;

}

p {
    font-family: 'Press Start 2P';
    color: white;
    animation: shifting-text 5s;
    animation-iteration-count: infinite;
}

@keyframes shifting-text {
    0% {
        transform: translate3d(15px, 0, 0); color: #6A2B05;
    }
    25% {
        transform: translate3d(0, 0, 20px); color: #3e1404;
    }
    50% {
        transform: translate3d(0, 0, 20px); color: #6A2B05;
    }
    75% {
        transform: translate3d(25px, 0, 0); color: #3e1404;
    }
    100% {
        transform: translate3d(15px, 0, 0); color: #6A2B05;
    }
}

cite {
    color: white;
    font-family: 'Press Start 2P';
}

.roast-selection-font {
    font-family: 'Anton';
}

input#coffee-input {
    margin-bottom: 20px;
    margin-left: 7px;
}

.submit-buttons {
    padding: 25px;
    width: 100px;
    border-radius: 15px;
    margin-left: 43%;
    margin-top: 2%;
    font-family: 'Anton';
}

.submit-buttons:hover {
    animation: submit-animation 1.25s ease-in;
    animation-iteration-count: 1;
}

@keyframes submit-animation {
    0% {
        color: white;
        background: #e7b2a5;
        -webkit-box-shadow:0 0 3px #d2b6a0;
    }
    25% {
        color: white;
        background: #f1935c;
        -webkit-box-shadow:0 0 3px #d2b6a0;

    }
    50% {
        color: white;
        background: #ba6b57;
        -webkit-box-shadow:2px 2px 0 #d9a479; animation-delay: 2s;

    }
    75% {
        color: #9e9e9e;
        background: #e7b2a5;
        -webkit-box-shadow:0 0 3px #d2b6a0;

    }
    100% {
        color: black;
        transform: rotate(360deg); background: #fffefa;
        -webkit-box-shadow:0 0 1px #d2b6a0;
    }
}



#coffees {
    margin-left: 42%;
    border: 2px solid transparent;
    border-radius: 20px;
    animation: coffee-list-background 15s ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes coffee-list-background {
    0% {
        background: #e7b2a5; opacity: .70;
    }
    25% {
        background: #f1935c; opacity: .70;
    }
    50% {
        background: #ba6b57; opacity: .70;
    }
    75% {
        background: #f1935c; opacity: .70;
    }
    100%{
        background: #e7b2a5; opacity: .70;
    }
}



.row {
    display: flex;
}

input#coffee-input {
    margin-left: 41%;
}

#coffee-label {
    margin-left: 38%;
    font-family: 'Anton';
    font-size: 1.75em;
    color: #fff;
    letter-spacing: 3px;
}

#add-coffee-div {
    padding: 55px;
}

.add-coffee {
    font-family: 'Anton';
    font-size: 1.15em;
    color: #fff;
    margin-left: 7%;

}